.panel-block.is-active {
  background-color:bisque;
}


@media (prefers-reduced-motion: no-preference) {
  .Spinner-spin {
    animation: Spinner-spin infinite 2s linear;
  }
}

@keyframes Spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
